* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

body{
    background-image: url(assets/background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI , Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    max-width: 500px;
    height: 550px;
    position: relative;
    margin: auto;
}

.searchBox{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    border: solid black;
}

.searchBox input{
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
}


.searchBox button{
    width: 40px;
    height: 40px;
    background-image: url('assets/search.png');
    background-size: 60%;  
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;

}

.searchBox button:hover{
    transform: scale(1.15);
}

.searchBox button:active{
    transform: scale(0.9);
}

.btn-icon {
    width: 18px;     /* Small enough for the button */
    height: 18px;
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle;
}

.card-container{
    width: 60%;
    height: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.back-card{
    background-image: url(assets/back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front-card, .back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    border-radius: 30px;
}

.front-card{
    background-image: url('assets/card.png');
    background-size: 100% 100%;
    transform: rotateY(0deg);
}

.back-card{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: rotateY(180deg);
}

.card-container:active .card{
    transform: rotateY(180deg);
}

.play{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.img{
    width: 295px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.male{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#name{
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    color: rgb(234, 249, 20);
    font-size: 2.1em;
}

.stats{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.extra{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    color: white;
}

#sound, #abilities{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    color: white;
}

#a1, #a2{
    font-size: 1.2em;
    font-weight: bold;
}

